# Jekyll / Site
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler (belangrijk voor GitHub Actions!)
.bundle/
.bundle/config
vendor/bundle/

# Python / Virtual Environment
venv/
.venv/
env/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd

# Project rommel
tmp/
vendor/
static/js/old/

# Overig
Gemfile.local
pyrightconfig.json
.DS_Store
*.bak
*.bak_*

# Logs / caches
*.log